* {
    margin: 0;
    padding: 0;
    font-family: 'Allerta', serif;
    scroll-behavior: smooth;
}

body{
    background-color: #F2F2F2;
}

.global{
    width: 100%;
    margin: auto;
}

header{
    background: #212426;
    width: 100%;
    height: 20%;
    min-height: 110px;
    margin-bottom: 20px;
}

/*Imagen del Header*/
header div img{
    width: 300px;
    height: auto;
    min-height: 10%;
    margin-left: 15%;
    margin-top: 40px;
    float: left;
}

/*MENU DE NAVEGACION*/
header nav{
    background-color: #212426;
    overflow: hidden;
    padding: 40px;
}

header nav ul{
    list-style: none;
    margin-left: 5%;
}

/*SECCION PRINCIPAL*/
.wrapper{
    clear: both;
}
    
.titulo{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: x-large;
}

.marcas{
    width: 70%;
    margin: auto;
}

.marcas img{
    width: 200px;
}

.marcas div{
    float: left;
    margin-left: 60px;
    margin-bottom: 20px;
}

aside{
    clear: both;
    padding: 20px;
    background-color: #737373;
    font-size: medium;
    color: white;
}

aside h2{
    margin-bottom: 10px;
}

aside p{
    padding: 5px;
}

.fa-envelope, .fa-whatsapp, .fa-map-marker-alt, .fa-clock{
    padding: 0px 5px;
}

.fa-map-marker-alt{
    margin-left: 7px;
}

/*PIE DE PAGINA*/
footer{
    font-size: small;
    color: white;
    padding: 2% 0%;
    clear: both;
    background-color: #212426;
    text-align: center;
}

footer p{
    margin-bottom: 1%;
}

footer p span{
    font-size: small;
}

.autor{
    font-size: small;
    text-align: right;
    margin-right: 15px;
}

.autor p{
    margin-bottom: 3px;
}

.autor p i{
    font-size: 15px;
}

.leyenda{
    font-size: 10px;
}

@media screen and (max-width: 1366px){
    .marcas{
        width: 100%;
    }

    header div img{
        margin-left: 6%;
    }

    header nav ul{
        margin-left: 6%;    
    }

    .fas {
        padding-left: 0px;
    }
}

@media screen and (max-width: 1024px){

    .marcas img{
        width: 100px;
    }

    header div img{
        float: none;
        display: block;
        margin: auto;
        padding: 20px;
    }

    header nav{
        background-color: #ff7b00;
        padding: 0px;
    }

    header nav ul{
        margin-left: 0;    
    }

    header nav ul li{
        margin: 0;
        padding: 20px 20px;
    }

    header nav ul li:hover{
        background-color: #ff7b00;
    }

    .DesktopMenu{
        display: none;
    }

    .iconMenu{
        display: block;
    }    
}

@media screen and (max-width: 768px){
    .marcas{
        width: 90%;
    }

}

@media screen and (max-width: 450px){
    
    
    header div img{
        height: 40px;
    }
    
    header nav ul li{
        padding: 5px 5px;
    }
    
    header nav ul li a{
        font-size: small;
    }

    .titulo h1{
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: large;
    }

    .marcas{
        width: 95%;
    }

    .marcas div{
        margin-left: 20px ;
    }

    .marcas img{
        width: 75px;
    }

    .contacto h2, .contacto p{
        text-align: center;
    }

    .fas, .far, .fab {
        display: none;
    }

    .marcas img{
        width: 50px;
    }

    aside{
        font-size: smaller;
    }

    aside p{
        padding: 3px;
        margin: 3px;        
    }

    .bot{
        font-size: 35px;
        margin: 10px 10px;
    }

    footer{
        font-size: smaller;
    }
    footer p span{
        font-size: x-small;
    }

    .autor{
        font-size: x-small;
        margin-top: 10px;
    }
}