.DesktopMenu li{
    float: left;
    margin: 0px 20px;
    display: block;
}

.DesktopMenu li a{
    color: white;
    font-size: larger;
    text-decoration: none;
}

.DesktopMenu li a:hover{
    color:#ff7b00;
}

.DesktopMenu .current{
    color: #ff7b00;
}

.MovilMenu{
    display: none;
    margin-top: 10px;
    clear: both;
}

.MovilMenu ul a{
    color: white;
    text-decoration: none;
}

.MovilMenu ul a li{
    font-size: large;
}

.iconMenu{
    display: none;
    float: left;
    margin-left: 5px;
}

.fa-bars{
    color: white;
    font-size: 30px;
    display: none;
    margin-bottom: 10px;
}

@media screen and (max-width: 1024px){
    .DesktopMenu{
        display: none;
    }

    .iconMenu{
        display: block;
    }
}

@media screen and (max-width: 450px){
    .iconMenu{
        font-size: 20px;
    }
}